:root {
  --n2c-red: #d44c47;
  --n2c-orange: #d9730d;
  --n2c-yellow: #cb912f;
  --n2c-green: #448361;
  --n2c-blue: #337ea9;
  --n2c-purple: #9065b0;
  --n2c-pink: #c14c8a;
  --n2c-brown: #9f6b53;
  --n2c-gray: #787774;

  --n2c-red-background: #fdebec;
  --n2c-orange-background: #fbecdd;
  --n2c-yellow-background: #fbf3db;
  --n2c-green-background: #edf3ec;
  --n2c-blue-background: #e7f3f8;
  --n2c-purple-background: #f6f3f9;
  --n2c-pink-background: #faf1f5;
  --n2c-brown-background: #f4eeee;
  --n2c-gray-background: #f1f1ef;

  --n2c-hover-bg: rgba(55, 53, 47, 0.08);
  --n2c-text: rgb(55, 53, 47);
  --n2c-text-checked: rgba(55, 53, 47, 0.65);
  --n2c-border: rgba(55, 53, 47, 0.16);
  --n2c-code: rgb(247, 246, 243);
  --n2c-code-keyword: #07a;
  --n2c-code-function: #dd4a68;
  --n2c-code-string: #690;
  --n2c-code-comment: #708090;
  --n2c-code-hash: #905;
  --n2c-table-header: rgb(247, 246, 243);
  --n2c-table-body: rgb(255, 255, 255);

  --n2c-scroll-bg: #edece9;
  --n2c-scroll-bar: #d3d1cb;
}
@media (prefers-color-scheme: dark) {
  :root {
    --n2c-red: #df5452;
    --n2c-orange: #c57c48;
    --n2c-yellow: #ca9849;
    --n2c-green: #529e72;
    --n2c-blue: #5e87c9;
    --n2c-purple: #9d68d3;
    --n2c-pink: #d15796;
    --n2c-brown: #ba856f;
    --n2c-gray: #9b9b9b;

    --n2c-red-background: #522e2a;
    --n2c-orange-background: #5c3b23;
    --n2c-yellow-background: #564328;
    --n2c-green-background: #243d30;
    --n2c-blue-background: #143a4e;
    --n2c-purple-background: #3c2d49;
    --n2c-pink-background: #4e2c3c;
    --n2c-brown-background: #4a3228;
    --n2c-gray-background: #2f2f2f;

    --n2c-hover-bg: rgba(255, 255, 255, 0.055);
    --n2c-text: rgba(255, 255, 255, 0.81);
    --n2c-text-checked: rgba(255, 255, 255, 0.443);
    --n2c-border: rgba(255, 255, 255, 0.13);
    --n2c-code: rgba(255, 255, 255, 0.03);
    --n2c-code-keyword: #d1949e;
    --n2c-code-function: rgba(255, 255, 255, 0.81);
    --n2c-code-string: #bde052;
    --n2c-code-comment: #998066;
    --n2c-code-hash: #d1949e;
    --n2c-table-header: rgba(255, 255, 255, 0.03);
    --n2c-table-body: rgb(25, 25, 25);

    --n2c-scroll-bg: rgba(202, 204, 206, 0.04);
    --n2c-scroll-bar: #474c50;
  }
}

.n2c_default {
  fill: var(--n2c-text);
}
.n2c_blue {
  color: var(--n2c-blue);
  fill: var(--n2c-blue);
}
.n2c_brown {
  color: var(--n2c-brown);
  fill: var(--n2c-brown);
}
.n2c_gray {
  color: var(--n2c-gray);
  fill: var(--n2c-gray);
}
.n2c_green {
  color: var(--n2c-green);
  fill: var(--n2c-green);
}
.n2c_orange {
  color: var(--n2c-orange);
  fill: var(--n2c-orange);
}
.n2c_pink {
  color: var(--n2c-pink);
  fill: var(--n2c-pink);
}
.n2c_purple {
  color: var(--n2c-purple);
  fill: var(--n2c-purple);
}
.n2c_red {
  color: var(--n2c-red);
  fill: var(--n2c-red);
}
.n2c_yellow {
  color: var(--n2c-yellow);
  fill: var(--n2c-yellow);
}
.n2c_blue_background {
  background: var(--n2c-blue-background);
}
.n2c_brown_background {
  background: var(--n2c-brown-background);
}
.n2c_gray_background {
  background: var(--n2c-gray-background);
}
.n2c_green_background {
  background: var(--n2c-green-background);
}
.n2c_orange_background {
  background: var(--n2c-orange-background);
}
.n2c_pink_background {
  background: var(--n2c-pink-background);
}
.n2c_purple_background {
  background: var(--n2c-purple-background);
}
.n2c_red_background {
  background: var(--n2c-red-background);
}
.n2c_yellow_background {
  background: var(--n2c-yellow-background);
}

.n2c {
  flex-shrink: 0;
  flex-grow: 1;
  max-width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.5;
  width: 100%;
  z-index: 1;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  min-height: 240px;
}
.n2c html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.n2c article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
.n2c body {
  line-height: 1;
}
.n2c ol,
ul {
  list-style: none;
}
.n2c blockquote,
q {
  quotes: none;
}
.n2c blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
.n2c table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* rich text */

.n2c_richText {
  line-height: 1.5;
  white-space: pre-wrap;
}
.n2c_richText.n2c_bold {
  font-weight: bold;
}
.n2c_richText.n2c_italic {
  font-style: italic;
}
.n2c_richText.n2c_strikethrough {
  text-decoration: line-through;
}
.n2c_richText.n2c_underline {
  border-bottom: 0.5px solid;
}
.n2c_richText.n2c_code_style {
  font-family: "SFMono-Regular", Menlo, Consolas, "PT Mono", "Liberation Mono",
    Courier, monospace;
  line-height: normal;
  background: rgba(135, 131, 120, 0.15);
  color: #eb5757;
  font-size: 85%;
  padding: 0.2em 0;
}
.n2c_richText.n2c_code_start {
  padding-left: 0.4em;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.n2c_richText.n2c_code_end {
  padding-right: 0.4em;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* paragraph */

.n2c_paragraph {
  width: 100%;
  margin-top: 2px;
  margin-bottom: 1px;
}
.n2c_paragraph > div {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;
  min-height: 1.875rem;
}

/* bookmark */

.n2c_bookmark {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.n2c_bookmark_ {
  display: flex;
  color: inherit;
  text-decoration: none;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  flex-grow: 1;
  min-width: 0px;
  flex-wrap: wrap-reverse;
  align-items: stretch;
  text-align: left;
  overflow: hidden;
  border: 1px solid var(--n2c-border);
  border-radius: 4px;
  position: relative;
  fill: inherit;
}
.n2c_bookmark_:hover {
  background-color: var(--n2c-hover-bg);
}
.n2c_bookmark_content {
  flex: 4 1 180px;
  padding: 12px 14px 14px;
  overflow: hidden;
  text-align: left;
}
.n2c_bookmark_content p:nth-child(1) {
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 24px;
  margin-bottom: 2px;
}
.n2c_bookmark_content p:nth-child(2) {
  font-size: 12px;
  line-height: 16px;
  opacity: 0.65;
  height: 32px;
  overflow: hidden;
}
.n2c_bookmark_image {
  flex: 1 1 180px;
  display: block;
  position: relative;
}
.n2c_bookmark_image > div {
  position: absolute;
  inset: 0px;
}
.n2c_bookmark_image > div > div {
  width: 100%;
  height: 100%;
}
.n2c_bookmark_image img {
  display: block;
  object-fit: cover;
  border-radius: 1px;
  width: 100%;
  height: 100%;
}
.n2c_bookmark_link {
  display: flex;
  margin-top: 6px;
}
.n2c_bookmark_link > img {
  width: 16px;
  height: 16px;
  min-width: 16px;
  margin-right: 6px;
}
.n2c_bookmark_link > span {
  font-size: 12px;
  line-height: 16px;
  color: var(--n2c-text);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.n2c_bookmark_caption {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.443;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 2px;
}

/* bulleted list item */

.n2c_bulleted_list_item {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
}
.n2c_bulleted_list_item > ul > li {
  margin-left: 30px;
}
.n2c_bulleted_list_item > ul > li > div:nth-child(1) {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;
  text-align: left;
}
.n2c_bulleted_list_item > ul > li.n2c_bulleted_list_item_disc {
  list-style: disc;
}
.n2c_bulleted_list_item > ul > li.n2c_bulleted_list_item_circle {
  list-style: circle;
}
.n2c_bulleted_list_item > ul > li.n2c_bulleted_list_item_square {
  list-style: square;
}
.n2c_bulleted_list_item_children {
  flex: 1 1 0px;
  min-width: 1px;
  display: flex;
  flex-direction: column;
}

/* callout */

.n2c_callout {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.n2c_callout > div {
  display: flex;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--n2c-border);
  padding: 16px 16px 16px 12px;
  color: var(--n2c-text);
}
.n2c_callout > div > div:nth-child(1) {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 0.25em;
}
.n2c_callout > div > div:nth-child(1) > div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
}
.n2c_callout > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  min-width: 0px;
  margin-left: 8px;
  width: 100%;
}
.n2c_callout > div > div:nth-child(2) > div {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  color: var(--n2c-text);
  padding-left: 2px;
  padding-right: 2px;
}

/* code */

.n2c_code {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.n2c_code_content {
  flex-grow: 1;
  border-radius: 4px;
  text-align: left;
  position: relative;
  background: var(--n2c-code);
  min-width: 0px;
  width: 100%;
}
.n2c_code_pre {
  flex-grow: 1;
  flex-shrink: 1;
  text-align: left;
  font-family: SFMono-Regular, Menlo, Consolas, "PT Mono", "Liberation Mono",
    Courier, monospace;
  font-size: 85%;
  tab-size: 2;
  padding: 34px 16px 32px 32px;
  min-height: 1em;
  color: var(--n2c-text);
  overflow-x: auto;
}
.n2c_code_pre::-webkit-scrollbar-track {
  background: var(--n2c-scroll-bg);
}
.n2c_code_pre::-webkit-scrollbar-thumb {
  background: var(--n2c-scroll-bar);
}
.n2c_code_pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.n2c_code_pre::-webkit-scrollbar {
  background: transparent;
}
.n2c_code_pre > code .hljs-string {
  color: var(--n2c-code-string);
}
.n2c_code_pre > code .hljs-function,
.hljs-type,
.hljs-keyword {
  color: var(--n2c-code-keyword);
}
.n2c_code_pre > code .hljs-title {
  color: var(--n2c-code-function);
}
.n2c_code_pre > code .hljs-params {
  color: var(--n2c-text);
}
.n2c_code_pre > code .hljs-comment {
  color: var(--n2c-code-comment);
}
.n2c_code_pre > code .hljs-meta {
  color: var(--n2c-code-hash);
}
.n2c_code_pre > code .hljs-attr {
  color: var(--n2c-code-hash);
}

/* column list */

.n2c_column_list {
  width: 100%;
  align-self: center;
  margin-top: 1px;
  margin-bottom: 1px;
}
.n2c_column_list > div {
  display: flex;
  position: relative;
  gap: 46px;
}
.n2c_column_list_child {
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
}

/* colunm */

.n2c_column {
  width: 100%;
  max-width: 100%;
  margin-top: 2px;
  margin-bottom: 0px;
}

/* divider */

.n2c_divider {
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: auto;
  width: 100%;
  height: 13px;
  flex: 0 0 auto;
}
.n2c_divider > hr {
  width: 100%;
  border-color: var(--n2c-border);
}

/* equation */

.n2c_equation {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.n2c_equation > div {
  display: flex;
  padding: 4px 8px;
  width: 100%;
  flex-direction: column;
  overflow: auto;
  color: inherit;
  fill: inherit;
}

/* file */

.n2c_file {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  color: inherit;
  fill: inherit;
  text-decoration: none;
}
.n2c_file > div {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  flex-grow: 1;
  min-width: 0px;
  border-radius: 4px;
}
.n2c_file > div:hover {
  background-color: var(--n2c-hover-bg);
}
.n2c_file > div > div {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 2px;
}
.n2c_file > div > div > div:first-child {
  user-select: none;
  --pseudoSelection--background: transparent;
  margin-right: 2px;
  width: 1.35em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: calc(1.5em + 6px);
  height: 1.35em;
}
.n2c_file > div > div > div:first-child > svg {
  fill: var(--n2c-text);
}
.n2c_file > div > div > div:last-child {
  flex: 1 1 0px;
  min-width: 1px;
  text-decoration: none;
}

/* heading */

.n2c_heading_1 {
  width: 100%;
  margin-top: 2em;
  margin-bottom: 4px;
}
.n2c_heading_2 {
  width: 100%;
  margin-top: 1.4em;
  margin-bottom: 1px;
}
.n2c_heading_3 {
  width: 100%;
  margin-top: 1em;
  margin-bottom: 1px;
}
.n2c_heading {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2px;
}
.n2c_heading > div {
  width: 100%;
}
.n2c_heading > div > h2,
h3,
h4 {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: var(--n2c-text);
  padding: 3px 2px;
  font-family: ui-sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-weight: 600;
  line-height: 1.3em;
  margin: 0px;
}
.n2c_heading > div > h2 {
  font-size: 1.875em;
}
.n2c_heading > div > h3 {
  font-size: 1.5em;
}
.n2c_heading > div > h4 {
  font-size: 1.25em;
}
.n2c_heading > button {
  user-select: none;
  --pseudoSelection--background: transparent;
  margin-right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: calc(1.5em + 6px);
  padding: 0;
  margin-top: 3px;
  background-color: transparent;
  border-width: 0;
}
.n2c_heading_1 > .n2c_heading > button {
  height: 3.5em;
}
.n2c_heading_2 > .n2c_heading > button {
  height: 3em;
}
.n2c_heading_3 > .n2c_heading > button {
  height: 2.5em;
}
.n2c_heading > button > div {
  flex-shrink: 0;
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.n2c_heading > button > div:hover {
  background-color: var(--n2c-hover-bg);
}
.n2c_heading > button > div > svg {
  display: block;

  width: 0.688em;
  height: 0.688em;

  fill: var(--n2c-text);
  transition: transform 200ms ease-out 0s;
  opacity: 1;
}

/* image */
.n2c_image {
  width: 100%;
  align-self: center;
  margin-top: 4px;
  margin-bottom: 4px;
}
.n2c_image > img {
  width: 100%;
}

/* bulleted list item */

.n2c_numbered_list_item {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
}
.n2c_numbered_list_item > ol > li {
  margin-left: 30px;
}
.n2c_numbered_list_item > ol > li > div:nth-child(1) {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  padding: 3px 2px;
  text-align: left;
}
.n2c_numbered_list_item > ol > li.n2c_numbered_list_item_decimal {
  list-style: decimal;
}
.n2c_numbered_list_item > ol > li.n2c_numbered_list_item_lower-alpha {
  list-style: lower-alpha;
}
.n2c_numbered_list_item > ol > li.n2c_numbered_list_item_lower-roman {
  list-style: lower-roman;
}
.n2c_numbered_list_item_children {
  flex: 1 1 0px;
  min-width: 1px;
  display: flex;
  flex-direction: column;
}

/* quote */

.n2c_quote {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 4px;
}
.n2c_quote > blockquote {
  margin: 0px;
  font-size: 1em;
  padding: 3px 2px;
  color: inherit;
  fill: inherit;
  display: flex;
}
.n2c_quote > blockquote > div {
  border-left: 3px solid currentcolor;
  padding-left: 14px;
  padding-right: 14px;
  width: 100%;
}

/* table */

.n2c_table {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  align-self: center;
}
.n2c_table > div {
  z-index: 1;
  flex-grow: 1;
  overflow: auto hidden;
  margin-right: 0px;
  margin-bottom: 0px;
}
.n2c_table > div::-webkit-scrollbar-track {
  background: var(--n2c-scroll-bg);
}
.n2c_table > div::-webkit-scrollbar-thumb {
  background: var(--n2c-scroll-bar);
}
.n2c_table > div::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.n2c_table > div::-webkit-scrollbar {
  background: transparent;
}
.n2c_table > div > div {
  padding-top: 8px;
  padding-bottom: 18px;
  padding-right: 18px;
}
.n2c_table > div > div > table {
  border-collapse: collapse;
  border-spacing: 0;
  background: var(--n2c-table-body);
}

/* table row */

.n2c_table_row > th {
  background: var(--n2c-table-header);
  font-weight: 500;
  border: 1px solid var(--n2c-border);
  position: relative;
  vertical-align: top;
  text-align: start;
  min-width: 230px;
  max-width: 230px;
  min-height: 32px;
}
.n2c_table_row > td {
  color: inherit;
  fill: inherit;
  border: 1px solid var(--n2c-border);
  position: relative;
  vertical-align: top;
  text-align: start;
  min-width: 349px;
  max-width: 349px;
  min-height: 32px;
}
.n2c_table_row > td,
th > div {
  max-width: 100%;
  width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: var(--n2c-text);
  padding: 7px 9px;
  background-color: transparent;
  font-size: 14px;
  line-height: 20px;
  min-height: 2.25em;
  color: var(--n2c-text);
}

/* todo */
.n2c_todo {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
}
.n2c_todo > div {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2px;
  color: inherit;
  fill: inherit;
}
.n2c_todo > div > div:first-child {
  user-select: none;
  --pseudoSelection--background: transparent;
  margin-right: 2px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: calc(1.5em + 6px);
}
.n2c_todo > div > div:first-child > div {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 200ms ease-out 0s;
}
.n2c_todo.n2c_todo_checked > div > div:first-child > div {
  background: rgb(35, 131, 226);
}
.n2c_todo > div > div:first-child > div > svg {
  width: 16px;
  height: 16px;
  display: block;
  flex-shrink: 0;
}
.n2c_todo.n2c_todo_checked > div > div:first-child > div > svg {
  width: 12px;
  height: 12px;
  fill: white;
}
.n2c_todo > div > div:last-child {
  flex: 1 1 0px;
  min-width: 1px;
  display: flex;
  flex-direction: column;
}
.n2c_todo > div > div:last-child {
  max-width: 100%;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: var(--n2c-text);
  padding: 3px 2px;
  text-align: left;
  flex-grow: 1;
}
.n2c_todo.n2c_todo_checked > div > div:last-child > div:first-child {
  color: var(--n2c-text-checked) !important;
  text-decoration: line-through;
}

/* toggle */

.n2c_toggle {
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
}
.n2c_toggle > div {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding-left: 2px;
  color: inherit;
  fill: inherit;
}
.n2c_toggle > div > div:first-child {
  user-select: none;
  --pseudoSelection--background: transparent;
  margin-right: 2px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  flex-shrink: 0;
  min-height: calc(1.5em + 6px);
  padding-right: 2px;
}
.n2c_toggle > div > div:first-child > button {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: transparent;
  border-width: 0;
}
.n2c_toggle > div > div:first-child > button > svg {
  width: 0.6875em;
  height: 0.6875em;
  display: block;
  fill: inherit;
  flex-shrink: 0;
  transition: transform 200ms ease-out 0s;
  opacity: 1;
}
.n2c_toggle > div > div:last-child {
  flex: 1 1 0px;
  min-width: 1px;
}

/* video */
.n2c_video {
  width: 100%;
  align-self: center;
  margin-top: 4px;
  margin-bottom: 4px;
}
.n2c_video > div {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}
.n2c_video > div > div {
  display: block;
  pointer-events: auto;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.03);
}
.n2c_video > div > div > div {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100px;
  height: 0px;
  padding-bottom: 56.25%;
  box-sizing: border-box;
}
.n2c_video > div > div > div > div {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  pointer-events: auto;
  background-color: rgb(25, 25, 25);
}
.n2c_video > div > div > div > div > iframe,
video {
  width: 100%;
  height: 100%;
}

.n2c_emoji {
  height: 21.6px;
  width: 21.6px;
  font-size: 21.6px;
  line-height: 1;
  margin-left: 0px;
}
.n2c_emoji > span {
  font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji,
    "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
  line-height: 1em;
  white-space: nowrap;
}

.n2c_file_ {
  user-select: none;
  transition: background 20ms ease-in 0s;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  width: 24px;
  border-radius: 0.25em;
}
.n2c_file_ > img {
  display: block;
  object-fit: cover;
  border-radius: 4px;
  width: 23.04px;
  height: 23.04px;
  transition: opacity 100ms ease-out 0s;
}
