.template {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  justify-items: center;
  gap: 4rem;
}

.card {
  max-width: 24rem;
  width: 100%;
  height: fit-content;

  border-radius: 0.5rem;
  border: 1px solid var(--main);
  background-color: var(--main-100);
  overflow: hidden;

  & > a > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    & > img {
      max-width: 640px;
    }
  }

  & > div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    padding: 1.5rem;

    & > div {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;

      & > span {
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        border-radius: 0.375rem;
        border: 1px solid var(--main-400);
        background-color: var(--main-200);
        font-size: 1rem;
        line-height: 1.5rem;
        color: var(--main);
      }
    }

    & > a {
      text-decoration: none;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      color: var(--gray-0);
    }

    & > p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: var(--gray-300);
    }
  }
}

@media (min-width: 768px) {
  .template {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1280px) {
  .template {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
