.form {
  display: flex;
  align-items: center;
  width: 100%;

  & > div {
    position: relative;
    width: 100%;

    box-sizing: border-box;

    & > div {
      display: flex;
      align-items: center;

      position: absolute;
      top: 0;
      bottom: 0;
      inset-inline-start: 0;
      padding-inline-start: 0.75rem;

      pointer-events: none;

      svg {
        width: 1.5rem;
        height: 1.5rem;

        color: var(--gray-300);
      }
    }

    & > input {
      display: block;

      width: 100%;
      padding-inline-start: 2.5rem !important;
      padding: 0.625rem;
      box-sizing: border-box;

      background-color: var(--gray-600);
      border: 1px solid var(--gray-400);
      border-radius: 0.5rem;
      color: var(--gray-0);
      font-size: 0.875rem;
      line-height: 1.25rem;

      &:focus {
        border-color: var(--main);
      }
      &::placeholder {
        color: var(--gray-400);
      }
      &:placeholder-shown ~ button {
        visibility: hidden;
      }
    }

    & > button {
      position: absolute;
      top: 0;
      bottom: 0;

      padding: 0;

      inset-inline-end: 0.75rem;
      color: var(--gray-300);

      svg {
        display: block;

        width: 1.5rem;
        height: 1.5rem;
      }

      &:focus {
        outline-style: none;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }

  & > button {
    padding: 0.625rem;
    margin-inline-start: 0.5rem;

    height: fit-content;

    border-radius: 0.5rem;
    border: 1px solid var(--main-400);
    background-color: var(--main);
    color: #ffffff;

    & > svg {
      display: block;

      width: 1rem;
      height: 1rem;
    }

    &:hover {
      background-color: var(--main-400);
      cursor: pointer;
    }
  }
}
